q1 : Try to print a prime number in between 1 to 1000

In [1]:
def prime():
    for i in range(1,1001):
        if i > 1:
            for j in range(2,i):
                if i % j == 0:
                    break
            else:
                print(i)

In [2]:
prime()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

q2 : Try to write a function which  is equivalent  to print function in python

q3 : Try to write a function which is a replica of list append , extend and pop function

q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [3]:
a=input(str("enter the first string "))
b=input(str("enter the second string "))
l=lambda b: a+b
print(l(b))

enter the first string 23
enter the second string 56
2356

q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [4]:
nums=list(range(1,101))
square_nums = list(map(lambda x: x ** 2, nums))

In [5]:
print(square_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [6]:
#addition of two numbers using lambda function
add=lambda a=input('Enter first integer '),b=input('Enter second integer '): int(a)+int(b)
add()

Enter first integer 45
Enter second integer 654

699

In [7]:
#Subtraction of two numbers using lambda function
sub=lambda a=input('Enter first integer '),b=input('Enter second integer '): int(a)-int(b)
sub()

Enter first integer 765
Enter second integer 32

733

In [8]:
#square of all the data between 1-100 using lambda function
nums=list(range(1,101))
square_nums = list(map(lambda x: x ** 2, nums))
print(square_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [9]:
#returning max value using labda function
Max = lambda a, b : a if(a > b) else b
print(Max(10, 23))

23

q7 : Try to write a funtion which can perform a read operation from .txt file

In [10]:
def read():
    file1 = open(r"C:\Users\91840\Desktop\1.txt","r+")
    print("Content of the text file is ")
    print(file1.read())
    print()

In [11]:
read()

Content of the text file is
This is a test notebook to read a .txt file using function in python