In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\91840\Downloads\agentperformancereport.csv")

### Q1. Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [9]:
date = pd.to_datetime(df['Date'])
df['converted_date']= date

In [10]:
df['week']= df['converted_date'].dt.weekofyear

In [20]:
df.groupby('Agent Name')['Average Rating'].sum()/4.4

Agent Name
Abhishek          0.000000
Aditya            0.000000
Aditya Shinde    12.275000
Aditya_iot       15.990909
Amersh            0.000000
                   ...
Uday Mishra       0.000000
Vasanth P         0.000000
Vivek             3.413636
Wasim            16.363636
Zeeshan          15.593182
Name: Average Rating, Length: 70, dtype: float64

# Q2.Total working days for each agents

In [15]:
df.groupby('Agent Name')['converted_date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: converted_date, Length: 70, dtype: int64

### Q3. Total query that you hvae taken

In [16]:
df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [22]:
df["Total Chats"].sum()

14720

### Q4. total Feedback that you have received

In [17]:
df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

### Q5. a agent name who have average rating between 3.5 to 4

In [23]:
df.groupby('Agent Name')['Average Rating'].sum()/22

Agent Name
Abhishek         0.000000
Aditya           0.000000
Aditya Shinde    2.455000
Aditya_iot       3.198182
Amersh           0.000000
                   ...
Uday Mishra      0.000000
Vasanth P        0.000000
Vivek            0.682727
Wasim            3.272727
Zeeshan          3.118636
Name: Average Rating, Length: 70, dtype: float64

### Q6 Agent name who have rating lesss then 3.5

In [24]:
df[(df['Average Rating']<3.5)]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

### Q7 agent name who have rating more then 4.5

In [25]:
df[df['Average Rating']>4.5]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

In [ ]:
q8 how many feedaback agents have received more then 4.5 average

In [27]:
((df.groupby('Agent Name')['Total Feedback'].mean())>4.5).count()

70

### Q9 average weekly response time for each agent

In [46]:
df.dtypes

SL No                               int64
Date                               object
Agent Name                         object
Total Chats                         int64
Average Response Time              object
Average Resolution Time            object
Average Rating                    float64
Total Feedback                      int64
converted_date             datetime64[ns]
week                                int64
Avg_Res_Time               datetime64[ns]
Hrs                                 int64
Min                                 int64
Sec                                 int64
dtype: object

In [47]:
df['Avg_Res_Time']=pd.to_datetime(df['Average Response Time'])

In [48]:
df['Hrs'] = df['Avg_Res_Time'].dt.hour
df['Min'] = df['Avg_Res_Time'].dt.hour
df['Sec'] = df['Avg_Res_Time'].dt.hour

In [49]:
df['Sec'] = df['Avg_Res_Time'].dt.hour

In [50]:
((df.groupby('Agent Name')['Sec'].sum())+(df.groupby('Agent Name')['Min'].sum()*60)+(df.groupby('Agent Name')['Hrs'].sum()*3600))

Agent Name
Abhishek         0
Aditya           0
Aditya Shinde    0
Aditya_iot       0
Amersh           0
                ..
Uday Mishra      0
Vasanth P        0
Vivek            0
Wasim            0
Zeeshan          0
Length: 70, dtype: int64

### Q11. list of all agents name

In [35]:
df['Agent Name']

0             Prerna Singh
1            Nandani Gupta
2               Ameya Jain
3            Mahesh Sarade
4                   Swati
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 2160, dtype: object

### Q12.  percentage of chat on which they have received a feedback

In [36]:
((df.groupby('Agent Name')['Total Feedback'].sum())/(df.groupby('Agent Name')['Total Chats'].sum()))*100

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    55.234657
Aditya_iot       56.709957
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            45.454545
Wasim            65.588915
Zeeshan          61.808118
Length: 70, dtype: float64

In [37]:
(df['Total Feedback']/df['Total Chats'])*100

0       81.818182
1       63.636364
2       78.571429
3       50.000000
4       42.857143
          ...
2155          NaN
2156          NaN
2157          NaN
2158          NaN
2159          NaN
Length: 2160, dtype: float64

### Q13. Total contributation hour for each and every agents weekly basis

In [38]:
df1 = pd.read_csv(r"C:\Users\91840\Downloads\Book1.csv")

In [39]:
df1

     SL No               Agent       Date  Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  3:35:29 PM   5:39:39 PM   02:04:10
1        2      Khushboo Priya  30-Jul-22  3:06:59 PM   3:07:16 PM   00:00:17
2        3       Nandani Gupta  30-Jul-22  3:04:24 PM   5:31:07 PM   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22  2:34:29 PM   3:19:35 PM   00:45:06
4        5              Mukesh  30-Jul-22  2:03:15 PM   3:11:52 PM   01:08:36
..     ...                 ...        ...         ...          ...        ...
995    996        Manjunatha A  20-Jul-22  9:03:51 AM   3:02:28 PM   05:58:37
996    997             Bharath  20-Jul-22  9:00:49 AM   3:01:32 PM   06:00:43
997    998      Khushboo Priya  20-Jul-22  8:59:20 AM   2:26:55 PM   05:27:34
998    999        Nishtha Jain  20-Jul-22  8:43:55 AM   2:00:33 PM   05:16:38
999   1000               Tarun  01-Jul-22  1:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [41]:
df1['WH'] = (pd.to_datetime(df1.Date) + pd.to_timedelta(df1.Duration))

In [42]:
df1['WH']

0     2022-07-30 02:04:10
1     2022-07-30 00:00:17
2     2022-07-30 02:26:42
3     2022-07-30 00:45:06
4     2022-07-30 01:08:36
              ...
995   2022-07-20 05:58:37
996   2022-07-20 06:00:43
997   2022-07-20 05:27:34
998   2022-07-20 05:16:38
999   2022-07-22 10:08:20
Name: WH, Length: 1000, dtype: datetime64[ns]

In [43]:
df1['hrs'] = df1['WH'].dt.hour
df1['Min'] = df1['WH'].dt.minute
df1['Sec'] = df1['WH'].dt.second

In [44]:
((df1.groupby('Agent')['Sec'].sum()/3600)+(df1.groupby('Agent')['Min'].sum()/60)+(df1.groupby('Agent')['hrs'].sum()))/4.4

Agent
Aditya Shinde              0.008207
Aditya_iot                 3.575253
Amersh                     0.696338
Ameya Jain                 9.562626
Ankitjha                   0.515215
Anurag Tiwari              0.631566
Aravind                    5.522538
Ayushi Mishra              8.664015
Bharath                   10.926515
Boktiar Ahmed Bappy        9.151957
Chaitra K Hiremath         7.801263
Deepranjan Gupta          24.153472
Dibyanshu                 11.953598
Harikrishnan Shaji        12.207891
Hrisikesh Neogi           13.083775
Hyder Abbas                0.088194
Ineuron Intelligence       0.329230
Ishawant Kumar            11.767929
Jawala Prakash            10.545960
Jaydeep Dixit              8.145581
Khushboo Priya             9.899684
Madhulika G               10.468245
Mahesh Sarade              9.754987
Maitry                     7.032955
Manjunatha A               9.380619
Mithun S                  10.266730
Mukesh                     2.023864
Muskan Garg                3.939899
Nandani Gupta              9.130051
Nishtha Jain               9.966540
Nitin M                    0.181566
Prabir Kumar Satapathy     7.585732
Prateek _iot               4.185922
Prerna Singh              10.389899
Rishav Dash                9.494444
Saikumarreddy N            9.803977
Sanjeev Kumar             10.156187
Saurabh Shukla             3.787058
Shiva Srivastava           3.407765
Shivan K                   8.205051
Shivananda Sonwane        11.201768
Shubham Sharma            12.226894
Sowmiya Sivakumar         10.171402
Sudhanshu Kumar           10.507071
Suraj S Bilgi              2.854356
Swati                      5.682071
Tarun                      2.304293
Wasim                     10.949811
Zeeshan                   11.156503
dtype: float64

### Q14 total percentage of active hour for a month

In [45]:
(((df1.groupby('Agent')['Sec'].sum()/3600)+(df1.groupby('Agent')['Min'].sum()/60)+(df1.groupby('Agent')['hrs'].sum()))/176)*100

Agent
Aditya Shinde              0.020518
Aditya_iot                 8.938131
Amersh                     1.740846
Ameya Jain                23.906566
Ankitjha                   1.288037
Anurag Tiwari              1.578914
Aravind                   13.806345
Ayushi Mishra             21.660038
Bharath                   27.316288
Boktiar Ahmed Bappy       22.879893
Chaitra K Hiremath        19.503157
Deepranjan Gupta          60.383681
Dibyanshu                 29.883996
Harikrishnan Shaji        30.519729
Hrisikesh Neogi           32.709438
Hyder Abbas                0.220486
Ineuron Intelligence       0.823074
Ishawant Kumar            29.419823
Jawala Prakash            26.364899
Jaydeep Dixit             20.363952
Khushboo Priya            24.749211
Madhulika G               26.170612
Mahesh Sarade             24.387468
Maitry                    17.582386
Manjunatha A              23.451547
Mithun S                  25.666824
Mukesh                     5.059659
Muskan Garg                9.849747
Nandani Gupta             22.825126
Nishtha Jain              24.916351
Nitin M                    0.453914
Prabir Kumar Satapathy    18.964331
Prateek _iot              10.464804
Prerna Singh              25.974747
Rishav Dash               23.736111
Saikumarreddy N           24.509943
Sanjeev Kumar             25.390467
Saurabh Shukla             9.467645
Shiva Srivastava           8.519413
Shivan K                  20.512626
Shivananda Sonwane        28.004419
Shubham Sharma            30.567235
Sowmiya Sivakumar         25.428504
Sudhanshu Kumar           26.267677
Suraj S Bilgi              7.135890
Swati                     14.205177
Tarun                      5.760732
Wasim                     27.374527
Zeeshan                   27.891256
dtype: float64